ul::-webkit-scrollbar {
  width: 8px;    
  height: 8px;    
  /* display: none;   */
}


ul::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
ul::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
ul::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

ul::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
ul::-webkit-scrollbar-track:hover,
ul::-webkit-scrollbar-track:active {
background: #d4d4d4;
}

